.map {
    width: 95vh;
    height: 95vh;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 1, 24);
  }
  
  .row{
      width: 100%;
      flex-grow: 8;
      margin: 0px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  
  .tiles {
    height: 100%;
    flex-grow: 8;
    margin: 0px;
  /*   border: 1px solid rgb(40, 37, 65); */
  }
  .tilesInside {
    position: absolute;
    height: 12vh;   
    width: 12vh;
    margin: 0px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;    
  /*   border: 1px solid rgb(40, 37, 65); */
  }
  .roof{
    position: absolute;
    z-index: 2;
    height: 12vh;   
    width: 12vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .doors{
    background-color: rgb(26, 1, 0);
    border: none;
    box-shadow: 0px 0px 10px white;
    z-index: 3;
  }

  .doorN{
      position: absolute;
      height: 1.2vh;
      width: 4vh;
      margin-top: -12vh;
  }
  .doorS{
      position: absolute;
      height: 1.2vh;
      width: 4vh;
      margin-top: 12vh;
  }
  .doorW{
      position: absolute;
      height: 4vh;
      width: 1.2vh;
      margin-left: -12vh;
  }
  .doorE{
      position: absolute;
      height: 4vh;
      width: 1.2vh;
      margin-left: 12vh;
  }

  .shadowsHome{
    box-shadow: 10px 10px 20px 0px black;
  }

  .enemies{
    position: absolute;
    z-index: 2;
    display: flex;
    color: red;
    height: 12vh;   
    width: 12vh;
    align-items: center;
    justify-content: center;
  }
  
  .clearableTiles{
    position: absolute;
    z-index:999;
    box-shadow: 'inset 0px 0px 3px 3px white';
    border: 3px solid red;
    background-color: aqua;
  }