<div class="map">
  @for(rows of map(); track rows){
  <div class="row">
    @for(tiles of rows; track tiles){
    <div
      class="tiles"
      (click)="clear(tiles.idR, tiles.idC)"
      [ngStyle]="{
        'background-color':
          tiles.roofS || tiles.roofN || tiles.roofE || tiles.roofW
            ? 'rgb(77, 43, 0)'
            : ''
      }"
    >
      <!-- ----------------------------------Enemies---------------------------------- -->
      <!--   @if(tiles.visible){ -->
      <div class="enemies">
        <div>
          @if(tiles.enemyLow > 0){ {{ tiles.enemyLow }} Reptante<br />}
          @if(tiles.enemyMedium > 0){ {{ tiles.enemyMedium }} Noctumbra<br />}
          @if(tiles.enemySplitter > 0){ {{ tiles.enemySplitter }} Escupidor<br />}
          @if(tiles.enemyHigh > 0){ {{ tiles.enemyHigh }} acorazado<br />}
          @if(tiles.investigation && tiles.visible){ <span style="color: green;">¡¡Pista!!</span><br>}
          @if(tiles.house && tiles.visible){
          <button class="search" (click)="search(tiles.idR, tiles.idC)" [ngStyle]="{'box-shadow': '0vh 0vh ' + (tiles.objects! * 0.2) + 'vh 0vh red'}">Buscar</button>}

        <!--  Ruta {{ tiles.enemyRoute }} -->
        </div>
      </div>

        @if(tiles.roof === true && tiles.visible != true) {
        <div
          class="roof shadowsHome"
          style="background-image: url('/textures/roof.jpg')"
        ></div>
        }
        <!-- 


      @if(tiles.roofN === true && tiles.visible != true) {
      <div
        class="roof"
        style="background-image: url('/textures/roofN.png')"
      ></div>
      } @if(tiles.roofS === true && tiles.visible != true) {
      <div
        class="roof"
        style="background-image: url('/textures/roofS.png')"
      ></div>
      } @if(tiles.roofW === true && tiles.visible != true) {
      <div
        class="roof"
        style="background-image: url('/textures/roofW.png')"
      ></div>
      } @if(tiles.roofE === true && tiles.visible != true) {
      <div
        class="roof"
        style="background-image: url('/textures/roofE.png')"
      ></div>
      } -->

             @if(tiles.visible){

              <!-- 
        <div
          class="tilesInside"
          [ngStyle]="{
            'background-image': tiles.house
              ? 'url(/textures/inside.jpg)'
              : 'url(/textures/floor.jpg)',
            'box-shadow': tiles.clearableTile
              ? ''
              : tiles.house
              ? '5px 5px 15px black'
              : '',
            'z-index': tiles.house ? 1 : 0
          }"
          [ngClass]="{'clearableTiles' : tiles.clearableTile}"

        ></div>  -->

        <div
          class="tilesInside"
          [ngStyle]="{
            'background-image': tiles.house
              ? 'url(/textures/inside.jpg)'
              : 'url(/textures/floor.jpg)',
            'box-shadow': tiles.clearableTile
              ? 'inset 0px 0px 3px 3px white'
              : tiles.house
              ? '5px 5px 15px black'
              : '',
            'z-index': tiles.house ? 1 : 0
          }"
        ></div>

        }



        <div class="tilesInside">
          <!-- puerta Norte -->
          @if(tiles.idR > 0 && map()[tiles.idR - 1][tiles.idC].house == false &&
          tiles.house && tiles.doorN == true && (tiles.visible || tiles.roofN)){
          <div class="doorN doors"></div>
          }

          <!-- puerta Sur -->
          @if(tiles.idR < 7 && map()[tiles.idR + 1][tiles.idC].house == false &&
          tiles.house && tiles.doorS == true && (tiles.visible || tiles.roofS)){
          <div class="doorS doors"></div>
          }
          <!-- puerta W -->
          @if(tiles.idC -1 >= 0 && map()[tiles.idR][tiles.idC - 1].house == false
          && tiles.house && tiles.doorW == true && (tiles.visible ||
          tiles.roofW)){
          <div class="doorW doors"></div>
          }
          <!-- puerta E -->
          @if(tiles.idC < 7 && map()[tiles.idR][tiles.idC + 1].house == false &&
          tiles.house && tiles.doorE == true && (tiles.visible || tiles.roofE)){
          <div class="doorE doors"></div>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>
  <div class="buttons">
    <button (click)="loadMap('redemption')">Cargar mapa</button>
    <button (click)="createRandomEnemy()">enemigo</button>
    <button (click)="moveEnemy()">rutas enemigos</button>
    <button (click)="round()">Turno de los enemigos</button>
  </div>

