.nombre{
    font-size: 50px;
    color: wheat;
    margin-top: -10%;
    margin-bottom: 20px;
    text-shadow: 2px 2px 40px rgb(0, 0, 0);
}

.imagen{
    height: 400px;
    box-shadow: 0px 0px 200px rgb(242, 174, 79);
    border: 5px solid black;
    border-radius: 20px;
}


@media (max-width: 768px) {
    .nombre{
        font-size: 40px;
        margin-top: -10vh;
    }
    .imagen{
        width: 90vw;
        height: 68vw;
    }
}