.found-object{
    position: absolute;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    bottom: 10vh;
    background-color: black;
    border: 2px solid red;
    color: wheat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
