<div>¿Dónde quieres ir?<br><br>
<!-- <button (click)="changePage('menu')">Menú</button> -->

<button (click)="changePage('editor')">Editor</button> 
<button (click)="loadMap('random')">Aleatorio</button><br>
<button (click)="changePage('game')">Juego</button><br><br><br>
<button (click)="loadMap('redemption')">Mapa Redención</button><br>
<button (click)="loadMap('bro')">Mapa Bro</button><br>
<button (click)="loadMap('carlos')">Mapa Carlos</button><br>
<button (click)="loadMap('diego')">Mapa Diego</button><br>
<button (click)="loadMap('tetris')">Mapa Tetris</button><br>

</div>