.busqueda {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: black;
}

.mapa {
  position: absolute;
  z-index: 5;
  margin-top: 2%;
  margin-left: 4%;
  width: 90%;
  height: 90%;
  background-color: black;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 5px red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carga {
  position: absolute;
  z-index: 10;
  background-color: black;
  height: 100vh;
  width: 100vw;
  box-shadow: 0px 0px 50px 10px rgb(255, 94, 0),
    inset 0px 0px 20px 1px rgb(255, 94, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
  animation: desvanecer 3s;
  opacity: 0;
}
@keyframes desvanecer {
  0%, 100% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cargando {
  font-size: xx-large;
  animation: cargando 3s ease-in-out infinite;
}

@keyframes cargando {
  0%, 100% {
    opacity: 1;
    scale: 1.1;
  }
  50% {
    opacity: 0.3;
    scale: 1;
  }
}

.fondoEmergente {
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}
.emergente {
  position: absolute;
  z-index: 10;
  margin-top: 10%;
  margin-left: calc(50vw - 400px);
  background-color: black;
  height: 400px;
  width: 800px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px rgb(255, 94, 0),
    inset 0px 0px 20px 1px rgb(255, 94, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto {
  font-size: x-large;
  color: rgb(255, 244, 195);
  width: 700px;
  height: auto;
  margin-top: -2vh;
  text-align: center;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: orange black;
}

summary {
  font-weight: bold;
  color: white;
}

.cerrar {
  position: absolute;
  z-index: 15;
  display: flex;
  scale: 2;
  color: white;
  background-color: darkred;
  box-shadow: 0px 0px 5px darkred;
  border-radius: 100%;
  margin-top: 50px;
  margin-left: 92vw;
}

.instrucciones {
  position: absolute;
  z-index: 10;
  margin-top: 5vh;
  margin-left: calc(50vw - 600px);
  background-color: black;
  height: 90vh;
  width: 1200px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px darkgreen, inset 0px 0px 20px 1px darkgreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instruccionesTexto {
  font-size: x-large;
  color: lightgray;
  width: 1100px;
  height: 80vh;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: darkgreen black;
}

@media (max-width: 1300px) {
  .instrucciones {
    margin-left: calc(50vw - 350px);
    width: 700px;
  }

  .instruccionesTexto {
    font-size: large;
    width: 650px;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgreen black;
  }
}
@media (max-width: 768px) {
  .mapa {
    flex-direction: column;
  }
  .instrucciones {
    margin-left: 0;
    margin-top: 2vh;
    width: 100vw;
    height: 96vh;
  }

  .instruccionesTexto {
    font-size: large;
    width: 90vw;
    height: 88vh;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: darkgreen black;
  }
  .cerrar {
    scale: 1.5;
    margin-top: 12px;
  }

  .texto {
    width: 80vw;
  }

  .emergente {
    position: absolute;
    z-index: 10;
    margin-top: 10%;
    margin-left: 5vw;
    background-color: black;
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 10px rgb(255, 94, 0),
      inset 0px 0px 20px 1px rgb(255, 94, 0);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
