<div class="todo">
  <div class="mapa" *ngIf="this.almacenamientoService.mostrarMapa">
    <div
      class="loseta"
      *ngFor="let mapa of datosService.mapaActual"
      [ngStyle]="
        mapa.visible
          ? { 'background-color': mapa.carretera ? 'grey' : 'orange' }
          : { 'background-color': ' rgba(0, 0, 0, 0)' }
      "
    >



    <!-- -------------Puertas----------------- -->
      <div
        class="puertaSup puertas"
        [ngStyle]="
          mapa.puertaSup ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="editarService.puerta(mapa.id, 'sup')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id >= 8 &&
          this.datosService.mapaActual[mapa.id - 8].carretera &&
          (this.datosService.casasDespejadas.includes(
            this.datosService.mapaActual[mapa.id].casa
          ) ||
            (mapa.id >= 8 &&
              this.datosService.mapaActual[mapa.id - 8].visible)) &&
          (this.datosService.editar || mapa.puertaSup)
        "
      ></div>
      <div
        class="puertaInf puertas"
        [ngStyle]="
          mapa.puertaInf ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="editarService.puerta(mapa.id, 'inf')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id <= 55 &&
          this.datosService.mapaActual[mapa.id + 8].carretera &&
          (this.datosService.casasDespejadas.includes(
            this.datosService.mapaActual[mapa.id].casa
          ) ||
            (mapa.id <= 55 &&
              this.datosService.mapaActual[mapa.id + 8].visible)) &&
          (this.datosService.editar || mapa.puertaInf)
        "
      ></div>

      <!-- No hay nada para evitar que compruebe la primera columna al estar en la última -->
      <div
        class="puertaDer puertas"
        [ngStyle]="
          mapa.puertaDer ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="editarService.puerta(mapa.id, 'der')"
        *ngIf="
          !mapa.carretera &&
          this.datosService.mapaActual[mapa.id].visible &&
          mapa.id < 63 &&
          this.datosService.mapaActual[mapa.id + 1].carretera &&
          (this.datosService.casasDespejadas.includes(
            this.datosService.mapaActual[mapa.id].casa
          ) ||
            (mapa.id < 63 &&
              this.datosService.mapaActual[mapa.id + 1].visible)) &&
          (this.datosService.editar || mapa.puertaDer)
        "
      ></div>
      <div
        class="puertaIzq puertas"
        [ngStyle]="
          mapa.puertaIzq ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="editarService.puerta(mapa.id, 'izq')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id >= 1 &&
          this.datosService.mapaActual[mapa.id - 1].carretera &&
          (this.datosService.casasDespejadas.includes(
            this.datosService.mapaActual[mapa.id].casa
          ) ||
            (mapa.id >= 1 &&
              this.datosService.mapaActual[mapa.id - 1].visible)) &&
          (this.datosService.editar || mapa.puertaIzq)
        "
      ></div>

      <div
        style="width: 60px; color: black; font-size: small; background-color: rgba(133, 103, 64, 0.518); position: absolute; z-index: 3; border-radius: 100px; box-shadow: 0px 0px 10px 5px rgba(255, 198, 123, 0.427); text-align: center;"
        (click)="editarService.alternarTipo(mapa.id)"
        *ngIf="this.datosService.editar && !this.datosService.editarRutas"
      >
        Alternar terreno
      </div>

      <!-- ------------------- ruta de salida enemigos ------------------- -->
      <span *ngIf="this.datosService.editar" style="font-size: 8px"
        >{{ this.datosService.mapaActual[mapa.id].rutasEnemigos }} 
      </span>
      <button
        style="width: 60px; margin-top: 15px; height: 20px; z-index: 3;"
        [ngStyle]="
          this.editarService.rutaActual.includes(mapa.id)
            ? { 'background-color': 'green' }
            : {}
        "
        (click)="editarService.editarRutas('ruta', mapa.id)"
        *ngIf="this.datosService.editar && this.datosService.editarRutas"
      >
        Ruta
      </button>
      <!-- Enemigos -->

      <span
      class="enemigos"
        *ngIf="
          this.datosService.editar ||
          (mapa.visible &&
            (mapa.carretera ||
              (mapa.casa != '' &&
                this.datosService.casasDespejadas.includes(mapa.casa)))) ||
          (this.datosService.pistasEncontradas >= 2 &&
            mapa.enemigos.includes('PRIMIGENIO'))
        "
      
      ><span *ngFor="let enemigos of mapa.enemigos"> {{enemigos}}</span>
        <!-- 
        {{ mapa.enemigos[0] }}<br />{{ mapa.enemigos[1] }}<br />{{
          mapa.enemigos[2]
        }}<br />{{ mapa.enemigos[3] }}<br />{{ mapa.enemigos[4] }}<br />{{ mapa.enemigos[5] }} --></span
      >


      <!--  ------------------- pista  ------------------- -->
      <span
        class="pista"
        *ngIf="
          mapa.pista &&
          (this.datosService.editar ||
            (mapa.casa != '' &&
              this.datosService.casasDespejadas.includes(mapa.casa)))
        "
        >¡Pista!</span
      >

      <div *ngIf="this.datosService.editar" style="font-size: 10px; color: rgba(0, 0, 0, 0.218); margin-top: 8vh">
        <span>cH= {{ mapa.calleH }} ... cV= {{ mapa.calleV }}</span
        ><br />
        <span>casa= {{ mapa.casa }}</span
        ><br />
        <br />
      </div>

      <span *ngIf="this.datosService.editar" style="margin-left: 18px;">{{ mapa.id }}</span>

      <button
        class="boton"
        (click)="editarService.despejar(mapa.id)"
        *ngIf="
          !this.datosService.editar &&
          !this.datosService.casasDespejadas.includes(mapa.casa)
        "
        style="position: absolute; z-index: 4;"
      >
        Despejar
      </button>
      <button
        class="boton"
        (click)="editarService.buscar(mapa.casa)"
        *ngIf="
          !this.datosService.editar &&
          this.datosService.casasDespejadas.includes(mapa.casa)
        "
        style="
          position: absolute;
          z-index: 4;
          background-color: yellow;
          box-shadow: 0px 0px 20px yellow;
        "
      >
        Buscar
      </button>
    </div>
  </div>
  <div class="menu">


    <!------------------- Menú modo juego -------------------->
    <div
      *ngIf="!this.datosService.editar"
      style="display: flex; flex-direction: column; align-items: center;"
    >
      <span style="font-size:medium;">Ronda número {{ this.datosService.ronda }}</span>

      <button
        class="botonesInicio"
        (click)="ronda()"
        style="
          background-color: red;
          box-shadow: 0px 0px 20px red;
          width: 100px;
        "
      >
        Turno de los <br />
        enemigos
      </button>
      <br />
      <span style="font-size:medium;">{{ this.datosService.pistasEncontradas }} pistas encontradas.</span
      >

      <div >
      <button class="botonesInicio" (click)="this.datosService.pistas('sumar')" 
      style="background-color: green;
        box-shadow: 0px 0px 20px green;
        height: 30px; width: 30px;
        border-radius: 10px;">
        +</button
      ><button
        class="botonesInicio"
        (click)="this.datosService.pistas('restar')"
        style="background-color: green;
          box-shadow: 0px 0px 20px green;
        height: 30px; width: 30px;
        border-radius: 10px;"
      >
        -
      </button></div>
      <br />

      <!-- 
      <button
        class="botonesInicio"
        (click)="editar()"
        style="background-color: grey; box-shadow: none; float: right;;"
      >
        Editar
      </button> -->
    </div>



    <!-- ------------- Editar------------------ -->
    <div style="color: white; margin-top: 5px" 
    *ngIf="this.datosService.editar">
           <button class="botonesInicio"
        (click)="almacenamientoService.ejecutarMapa('aleatorio')"
        style="
          background-color: rgb(0, 141, 141);
          box-shadow: 0px 0px 20px aqua;
          width: 120px;
        "
      >
        Empezar con 
        mapa aleatorio</button
      ><br /><br />
      <button class="botonesInicio"
        (click)="almacenamientoService.cargarPartidaAnterior()"
        style="
          background-color: rgb(85, 141, 0);
          box-shadow: 0px 0px 20px greenyellow;
          width: 120px;
        "
      >
        Continuar con la 
        partida anterior</button
      ><br /><br />
      <button class="botonesInicio"
        (click)="datosService.emergente('elegirMapa')"
        style="
          background-color: rgb(162, 190, 0);
          box-shadow: 0px 0px 20px greenyellow;
          width: 120px;
        "
      >
        Elegir Mapa</button
      ><br />

      <div
        style="color: white; margin-top: 2vh"
      >
        <div *ngIf="this.almacenamientoService.mostrarMapa" style="color: white; margin-top: 2vh">
          <!-- 
          <button (click)="editar()">
            Jugar</button
          ><br /> -->
          <button *ngIf="!this.datosService.editarRutas"
          (click)="editarService.editarRutas('alternar', 99)"
        >
          Crear rutas</button
        >
        <button *ngIf="this.datosService.editarRutas"
          (click)="editarService.editarRutas('alternar', 99)"
        >
          Volver al editor</button
        ><br />
          <button
            *ngIf="this.datosService.editarRutas"
            (click)="editarService.editarRutas('aplicar', 99)"
          >
            Aplicar ruta actual</button
          >
          <br>
          <button
            *ngIf="
              this.datosService.editarRutas &&
              this.editarService.rutaActual.length > 0
            "
            (click)="editarService.editarRutas('deshacer', 99)"
          >
            Deshacer ruta actual
          </button>
          <br />

          <button (click)="editarService.aplicarAutomaticamente()">
            calcular visibilidad</button
          ><br />
          <button (click)="editarService.generarInicio()">Generar inicio</button>
          <br /><br /><!-- 
    <br /><br /><span *ngFor="let arma of this.datosService.recursosCasas[0]">{{arma}}<br></span>
    <br /><br /><span *ngFor="let arma of this.datosService.recursosCasas[1]">{{arma}}<br></span>
    <br /><br />  -->
          <!-- 
          {{ this.datosService.armaEncontrada }}
          <br /><br /><br /> -->

          <div>Nombre mapa: <br />{{ this.editarService.nombreMapa.value.nombre }}</div>
          <details>
            <summary>Guardar y cargar datos</summary>
            <button (click)="almacenamientoService.guardarDatos('sobrescribir')">
              Sobrescribir actual
            </button>
            <br />

            <form [formGroup]="editarService.nombreMapa">
              <input
                formControlName="nombre"
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Mapa"
              />
            </form>
            <button (click)="almacenamientoService.guardarDatos('nuevo')">Guardar nuevo</button><br />

            <li *ngIf="this.datosService.clavesLocalStorage.length === 0">
              No hay usuarios guardados
            </li>

            <div *ngFor="let mapa of this.datosService.clavesLocalStorage">
              <button (click)="almacenamientoService.cargarDatos(mapa)">{{ mapa }}</button>
              <button (click)="almacenamientoService.borrarDatos(mapa)">borrar</button>
              <br />
            </div>
            <br />
            <button (click)="almacenamientoService.descargarJSON()">descargarJSON</button>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
