<div class="todo">
  <div class="mapa">
    <div
      class="loseta"
      *ngFor="let mapa of datoservice.mapaActual"
      [ngStyle]="
        mapa.visible
          ? { 'background-color': mapa.carretera ? 'grey' : 'orange' }
          : { 'background-color': 'white' }
      "
    >
      <button
        class="puertaSup"
        [ngStyle]="
          mapa.puertaSup ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'sup')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id >= 8 &&
          this.datoservice.mapaActual[mapa.id - 8].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id >= 8 &&
              this.datoservice.mapaActual[mapa.id - 8].visible)) &&
          (this.datoservice.editar || mapa.puertaSup)
        "
      ></button>

      <button
        class="puertaInf"
        [ngStyle]="
          mapa.puertaInf ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'inf')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id <= 52 &&
          this.datoservice.mapaActual[mapa.id + 8].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id <= 52 &&
              this.datoservice.mapaActual[mapa.id + 8].visible)) &&
          (this.datoservice.editar || mapa.puertaInf)
        "
      ></button>

      <!-- No hay nada para evitar que compruebe la primera columna al estar en la última -->
      <button
        class="puertaDer"
        [ngStyle]="
          mapa.puertaDer ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'der')"
        *ngIf="
          !mapa.carretera &&
          this.datoservice.mapaActual[mapa.id].visible &&
          mapa.id <= 63 &&
          this.datoservice.mapaActual[mapa.id + 1].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id <= 63 &&
              this.datoservice.mapaActual[mapa.id + 1].visible)) &&
          (this.datoservice.editar || mapa.puertaDer)
        "
      ></button>
      <button
        class="puertaIzq"
        [ngStyle]="
          mapa.puertaIzq ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'izq')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id >= 1 &&
          this.datoservice.mapaActual[mapa.id - 1].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id >= 1 &&
              this.datoservice.mapaActual[mapa.id - 1].visible)) &&
          (this.datoservice.editar || mapa.puertaIzq)
        "
      ></button>

      <button
        style="width: 60px; margin-top: 15px"
        (click)="alternarTipo(mapa.id)"
        *ngIf="this.datoservice.editar"
      >
        Alternar terreno
      </button>
      <span
        *ngIf="
          this.datoservice.editar ||
          (mapa.visible &&
            (mapa.carretera ||
              (mapa.casa != '' &&
                this.datoservice.casasDespejadas.includes(mapa.casa))))
        "
        style="color: red"
        >{{ mapa.enemigo }}</span
      >
      <span
        *ngIf="
          mapa.pista &&
          (this.datoservice.editar ||
            (mapa.casa != '' &&
              this.datoservice.casasDespejadas.includes(mapa.casa)))
        "
        style="color: green; background-color: greenyellow;"
        >Pista!</span
      >

      <div *ngIf="this.datoservice.editar" style="font-size: 10px">
        <span>cH= {{ mapa.calleH }} ... cV= {{ mapa.calleV }}</span
        ><br />
        <span>casa= {{ mapa.casa }}</span
        ><br />
       <br />
      </div>

      <span *ngIf="this.datoservice.editar">{{ mapa.id }}</span
      >
      <button
        (click)="despejar(mapa.id)"
        *ngIf="
          !this.datoservice.editar &&
          !this.datoservice.casasDespejadas.includes(mapa.casa)
        "
      >
        Despejar
      </button>
      <button
        (click)="buscar(mapa.casa)"
        *ngIf="
          !this.datoservice.editar  &&
          this.datoservice.casasDespejadas.includes(mapa.casa)
        "
      >
        Buscar
      </button>

    </div>
  </div>
  <div>
    <button *ngIf="!this.datoservice.editar" (click)="editar()">Editar</button>
    <button *ngIf="this.datoservice.editar" (click)="editar()">Jugar</button
    ><br /><br /><br /><br /><br /><br />

    <button (click)="aplicarAutomaticamente()">calcular visibilidad</button
    ><br /><br />
    <button (click)="generarInicio()">Generar inicio</button>
    <br /><br />
    <br /><br /><span *ngFor="let arma of this.datoservice.recursosCasas[0]">{{arma}}<br></span>
    <br /><br /><span *ngFor="let arma of this.datoservice.recursosCasas[1]">{{arma}}<br></span>
    <br /><br /> 
   
    {{this.datoservice.armaEncontrada}}
    <br /><br /><br />
    <button (click)="guardarDatos()" style="scale: 0.4">Guardar datos</button
    ><br /><br />
    <button (click)="cargarDatos()">Cargar datos</button><br /><br />

  </div>
</div>
