.todo {
  display: flex;
  justify-content: center;
}


.mapa {
  border: 2px solid black;
  width: 800px;
  height: 800px;
}

.loseta {
    float: left;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: calc(100% / 8 - 2px);
    height: calc(100% / 8 - 2px);
    align-items: center;
    justify-content: center;
}

.puertaDer {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 20px;
  margin-left: 80px;
  background-color: rgba(82, 15, 15, 0.178);
  border: none;
  }
  .puertaIzq {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 20px;
    margin-left: -80px;
    background-color: rgba(82, 15, 15, 0.178);
    border: none;
    }
    .puertaInf {
      position: absolute;
      z-index: 2;
      height: 20px;
      width: 50px;
      margin-top: 80px;
      background-color: rgba(82, 15, 15, 0.178);
      border: none;
      }
      .puertaSup {
        position: absolute;
        z-index: 2;
        height: 20px;
        width: 50px;
        margin-top: -80px;
        background-color: rgba(82, 15, 15, 0.178);
        border: none;
        }


