.todo {
  display: flex;
  justify-content: center;
  background-image: url("/fondos/calles.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  user-select: none;
}

.mapa {
  margin: 1vh;
  border: 5px solid grey;
  width: 95vh;
  height: 95vh;
  padding: 1vh;
  align-content: space-between;
}

.loseta {
  float: left;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgb(35, 35, 35);
  box-shadow: inset 0px 0px 20px black;
  width: calc((100% / 8.01) - 2px);
  height: calc((100% / 8.01) - 2px);
  align-items: center;
  justify-content: center;
}

.puertas {
  position: absolute;
  z-index: 3;
  background-color: rgba(82, 15, 15, 0.178);
  border: none;
  border-radius: 0.5vh;
}

.puertaDer {
  height: 5vh;
  width: 2vh;
  margin-left: 10vh;
}
.puertaIzq {
  height: 5vh;
  width: 2vh;
  margin-left: -10vh;
}
.puertaInf {
  height: 2vh;
  width: 5vh;
  margin-top: 10vh;
}
.puertaSup {
  height: 2vh;
  width: 5vh;
  margin-top: -10vh;
}
.boton {
  background-color: rgba(196, 196, 196, 0.384);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.493);
  padding: 2px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(196, 196, 196, 0.384);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.493);
  margin: 10px;
  padding: 3px;
}

.enemigos {
  color: red;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  height: 11vh;
  width: 11vh;
  scrollbar-color: rgb(255, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}
.pista {
  position: absolute;
  z-index: 2;
  color: green;
  background-color: greenyellow;
  border-radius: 5px;
  margin-top: 6vh;
  padding: 1px;
  box-shadow: 0px 0px 5px greenyellow;
}

@media (max-width: 768px) {
  .todo {
    flex-direction: column-reverse;
  }
  span {
    font-size: 10px;
  }

  .mapa {
    margin: 0;
    border: 5px solid grey;
    width: 95vw;
    height: 95vw;
    padding: 1vw;
    align-content: space-between;
  }

  .loseta {
    float: left;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(35, 35, 35);
    box-shadow: inset 0px 0px 20px black;
    width: calc((100% / 8.01) - 2px);
    height: calc((100% / 8.01) - 2px);
    align-items: center;
    justify-content: center;
  }

  .puertas {
    border-radius: 0.5vw;
  }
  .puertaDer {
    height: 5vw;
    width: 2vw;
    margin-left: 10vw;
  }
  .puertaIzq {
    height: 5vw;
    width: 2vw;
    margin-left: -10vw;
  }
  .puertaInf {
    height: 2vw;
    width: 5vw;
    margin-top: 10vw;
  }
  .puertaSup {
    height: 2vw;
    width: 5vw;
    margin-top: -10vw;
  }
  .boton {
    border-radius: 5px;
    font-size: 8px;
  }

  .botonesInicio {
    border: none;
    border-radius: 10px;
    width: 25px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0px 0px 20px green;
    background-color: green;
  }
  .enemigos {
    height: 11vw;
    width: 11vw;
  }
  .pista {
    margin-top: 6vw;
  }
}
