<div class="todo">
  <div class="mapa" *ngIf="this.mostrarMapa">
    <div
      class="loseta"
      *ngFor="let mapa of datoservice.mapaActual"
      [ngStyle]="
        mapa.visible
          ? { 'background-color': mapa.carretera ? 'grey' : 'orange' }
          : { 'background-color': ' rgba(0, 0, 0, 0)' }
      "
    >



    <!-- -------------Puertas----------------- -->
      <div
        class="puertaSup puertas"
        [ngStyle]="
          mapa.puertaSup ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'sup')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id >= 8 &&
          this.datoservice.mapaActual[mapa.id - 8].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id >= 8 &&
              this.datoservice.mapaActual[mapa.id - 8].visible)) &&
          (this.datoservice.editar || mapa.puertaSup)
        "
      ></div>
      <div
        class="puertaInf puertas"
        [ngStyle]="
          mapa.puertaInf ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'inf')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id <= 55 &&
          this.datoservice.mapaActual[mapa.id + 8].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id <= 55 &&
              this.datoservice.mapaActual[mapa.id + 8].visible)) &&
          (this.datoservice.editar || mapa.puertaInf)
        "
      ></div>

      <!-- No hay nada para evitar que compruebe la primera columna al estar en la última -->
      <div
        class="puertaDer puertas"
        [ngStyle]="
          mapa.puertaDer ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'der')"
        *ngIf="
          !mapa.carretera &&
          this.datoservice.mapaActual[mapa.id].visible &&
          mapa.id < 63 &&
          this.datoservice.mapaActual[mapa.id + 1].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id < 63 &&
              this.datoservice.mapaActual[mapa.id + 1].visible)) &&
          (this.datoservice.editar || mapa.puertaDer)
        "
      ></div>
      <div
        class="puertaIzq puertas"
        [ngStyle]="
          mapa.puertaIzq ? { 'background-color': 'rgb(59, 22, 5)' } : {}
        "
        (click)="puerta(mapa.id, 'izq')"
        *ngIf="
          !mapa.carretera &&
          mapa.visible &&
          mapa.id >= 1 &&
          this.datoservice.mapaActual[mapa.id - 1].carretera &&
          (this.datoservice.casasDespejadas.includes(
            this.datoservice.mapaActual[mapa.id].casa
          ) ||
            (mapa.id >= 1 &&
              this.datoservice.mapaActual[mapa.id - 1].visible)) &&
          (this.datoservice.editar || mapa.puertaIzq)
        "
      ></div>

      <div
        style="width: 60px; margin-top: 0.8vh; color: black; background-color: rgba(170, 161, 34, 0.281); position: absolute;"
        (click)="alternarTipo(mapa.id)"
        *ngIf="this.datoservice.editar && !this.datoservice.editarRutas"
      >
        Alternar terreno
      </div>

      <!-- ruta de salida enemigos -->
      <span *ngIf="this.datoservice.editar" style="font-size: 8px"
        >{{ this.datoservice.mapaActual[mapa.id].rutasEnemigos }}
      </span>
      <button
        style="width: 60px; margin-top: 5px; height: 20px"
        [ngStyle]="
          this.rutaActual.includes(mapa.id)
            ? { 'background-color': 'green' }
            : {}
        "
        (click)="editarRutas('ruta', mapa.id)"
        *ngIf="this.datoservice.editar && this.datoservice.editarRutas"
      >
        Ruta
      </button>
      <!-- Enemigos -->

      <span
      class="enemigos"
        *ngIf="
          this.datoservice.editar ||
          (mapa.visible &&
            (mapa.carretera ||
              (mapa.casa != '' &&
                this.datoservice.casasDespejadas.includes(mapa.casa)))) ||
          (this.datoservice.pistasEncontradas >= 2 &&
            mapa.enemigos.includes('PRIMIGENIO'))
        "
      
      ><span *ngFor="let enemigos of mapa.enemigos"> {{enemigos}}</span>
        <!-- 
        {{ mapa.enemigos[0] }}<br />{{ mapa.enemigos[1] }}<br />{{
          mapa.enemigos[2]
        }}<br />{{ mapa.enemigos[3] }}<br />{{ mapa.enemigos[4] }}<br />{{ mapa.enemigos[5] }} --></span
      >


      <!-- pista -->
      <span
        class="pista"
        *ngIf="
          mapa.pista &&
          (this.datoservice.editar ||
            (mapa.casa != '' &&
              this.datoservice.casasDespejadas.includes(mapa.casa)))
        "
        >¡Pista!</span
      >

      <div *ngIf="this.datoservice.editar" style="font-size: 10px; color: grey; margin-top: 8vh">
        <span>cH= {{ mapa.calleH }} ... cV= {{ mapa.calleV }}</span
        ><br />
        <span>casa= {{ mapa.casa }}</span
        ><br />
        <br />
      </div>

      <span *ngIf="this.datoservice.editar">{{ mapa.id }}</span>

      <button
        class="boton"
        (click)="despejar(mapa.id)"
        *ngIf="
          !this.datoservice.editar &&
          !this.datoservice.casasDespejadas.includes(mapa.casa)
        "
        style="position: absolute; z-index: 4;"
      >
        Despejar
      </button>
      <button
        class="boton"
        (click)="buscar(mapa.casa)"
        *ngIf="
          !this.datoservice.editar &&
          this.datoservice.casasDespejadas.includes(mapa.casa)
        "
        style="
          position: absolute;
          z-index: 4;
          background-color: yellow;
          box-shadow: 0px 0px 20px yellow;
        "
      >
        Buscar
      </button>
    </div>
  </div>
  <div class="menu">


    <!------------------- Menú modo juego -------------------->
    <div
      *ngIf="!this.datoservice.editar"
      style="display: flex; flex-direction: column; align-items: center;"
    >
      <span style="font-size:medium;">Ronda número {{ this.datoservice.ronda }}</span>

      <button
        class="botonesInicio"
        (click)="ronda()"
        style="
          background-color: red;
          box-shadow: 0px 0px 20px red;
          width: 100px;
        "
      >
        Turno de los <br />
        enemigos
      </button>
      <br />
      <span style="font-size:medium;">{{ this.datoservice.pistasEncontradas }} pistas encontradas.</span
      >

      <div >
      <button class="botonesInicio" (click)="this.datoservice.pistas('sumar')" 
      style="background-color: green;
        box-shadow: 0px 0px 20px green;
        height: 30px; width: 30px;
        border-radius: 10px;">
        +</button
      ><button
        class="botonesInicio"
        (click)="this.datoservice.pistas('restar')"
        style="background-color: green;
          box-shadow: 0px 0px 20px green;
        height: 30px; width: 30px;
        border-radius: 10px;"
      >
        -
      </button></div>
      <br />

      <!-- 
      <button
        class="botonesInicio"
        (click)="editar()"
        style="background-color: grey; box-shadow: none; float: right;;"
      >
        Editar
      </button> -->
    </div>



    <!-- ------------- Editar------------------ -->
    <div style="color: white; margin-top: 5px" 
    *ngIf="this.datoservice.editar">
           <button class="botonesInicio"
        (click)="cargarAleatorio()"
        style="
          background-color: rgb(0, 141, 141);
          box-shadow: 0px 0px 20px aqua;
          width: 100px;
        "
      >
        Empezar con <br />
        mapa aleatorio</button
      ><br /><br />
      <button class="botonesInicio"
        (click)="cargarPartidaAnterior()"
        style="
          background-color: rgb(85, 141, 0);
          box-shadow: 0px 0px 20px greenyellow;
          width: 100px;
        "
      >
        Continuar la <br />
        partida anterior</button
      ><br />

      <div
        style="color: white; margin-top: 2vh"
      >
        <div *ngIf="this.mostrarMapa" style="color: white; margin-top: 2vh">
          <!-- 
          <button (click)="editar()">
            Jugar</button
          ><br /> -->
          <button
            (click)="editarRutas('alternar', 99)"
          >
            Crear rutas</button
          ><br />
          <button
            *ngIf="this.datoservice.editarRutas"
            (click)="editarRutas('aplicar', 99)"
          >
            Aplicar ruta actual</button
          >
          <button
            *ngIf="
              this.datoservice.editarRutas &&
              this.rutaActual.length > 0
            "
            (click)="editarRutas('deshacer', 99)"
          >
            Deshacer ruta actual
          </button>
          <br />

          <button (click)="aplicarAutomaticamente()">
            calcular visibilidad</button
          ><br />
          <button (click)="generarInicio()">Generar inicio</button>
          <br /><br /><!-- 
    <br /><br /><span *ngFor="let arma of this.datoservice.recursosCasas[0]">{{arma}}<br></span>
    <br /><br /><span *ngFor="let arma of this.datoservice.recursosCasas[1]">{{arma}}<br></span>
    <br /><br />  -->
          <!-- 
          {{ this.datoservice.armaEncontrada }}
          <br /><br /><br /> -->

          <div>Nombre mapa: <br />{{ this.nombreMapa.value.nombre }}</div>
          <details>
            <summary>Guardar y cargar datos</summary>
            <button (click)="guardarDatos('sobrescribir')">
              Sobrescribir actual
            </button>
            <br />

            <form [formGroup]="nombreMapa">
              <input
                formControlName="nombre"
                type="text"
                id="nombre"
                name="nombre"
                placeholder="Mapa"
              />
            </form>
            <button (click)="guardarDatos('nuevo')">Guardar nuevo</button><br />

            <li *ngIf="this.datoservice.clavesLocalStorage.length === 0">
              No hay usuarios guardados
            </li>

            <div *ngFor="let mapa of this.datoservice.clavesLocalStorage">
              <button (click)="cargarDatos(mapa)">{{ mapa }}</button>
              <button (click)="borrarDatos(mapa)">borrar</button>
              <br />
            </div>
            <br />
            <button (click)="descargarJSON()">descargarJSON</button>
          </details>
        </div>
      </div>
    </div>
  </div>
</div>
